
* {
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    height: 20%;
    background-color: lightslategray;
    color: whitesmoke;
    padding: 1em;
  }
  
nav {
    position: sticky;
    top: 0;
    background-color: darkblue;
    color: white;
    z-index: 999;
}

  
  a {
    color: whitesmoke;
  }
  
  main {
    width: 80%;
    height: 24em;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
  }
  
  section {
    width: 80%;
    height: 100%;
    float: left;
    background-color: bisque;
    padding: .5em;
  }
  
  aside {
    width: 20%;
    height: 100%;
    float: left;
    background-color: cadetblue;
    padding: .5em;
  }
  
  footer {
    width: 100%;
    height: 4em;
    clear: both;
    background-color: blue;
    color: darkblue;
    text-align: center;
    padding-top: .5em;
  }

.my-figure {
    box-sizing: border-box;
    width: 50%; 
    margin-bottom: 20px;
    border: 2px solid #333; 
    float: left; 
}


.my-figure.left {
    margin-right: 20px; 
}

.my-figure.right {
    margin-left: 20px; 
}

.my-article::after {
    content: "";
    display: table;
    clear: both;
}
