

body{
    background-color:#ffebbb;
}
h1, h2 {
    font-family: Arial, sans-serif;
    color: #333
}

p {
    font-family: Georgia, serif;
    color: black

}

dt {
    font-family: Georgia, serif;
    color:black
}

dd {
    font-family: Georgia, serif;
    color: green
}

img {
    display: block;
    margin: 0 auto;
    border: 2px solid #333
}

table {
    border-collapse: collapse;
    width: 50%;
}

tr {
    border-bottom: thin solid black;
    border-left: thin solid black;
    border-right: thin solid black;
    border-top: thin solid black;
}

tbody tr:hover {
    background-color: lightgray;
  }

  tbody{
    font-family: Georgia;
    background-color: lightcyan
  }
 
#site-logo {
    position: absolute;
    top: 10px; 
    left: 10px; 
    max-width: 150px; 
    z-index: 100; 
}
header {
    margin-top: 150px;
}